#questions{
    text-align: center;
    background-color:cadetblue;
    color: white;
}

p{
    text-align: center;
}

h1{
    text-align: center;
    text-decoration: tomato;

}

#start{
    text-align: center;
}

button{
    text-align: center;
}
